.img2{
    height: 520px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top center;
    
}
.projectimg:hover{
    object-position: bottom;
}
.projectimg{
    border: 5px solid rgb(79, 180, 228);
    border-radius: 50px;
    box-shadow: 10px 10px 20px gray;

    height: 420px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top center;
    transition: ease-in-out 8s;
   
    
}
.modalimg{
    height: 250px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid aqua; 
    
    padding: 2px;

}
