.preloader {
    height: 100vh;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background: black;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow-x: hidden !important;
    
}
    .preloader .texts-container {
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 480px;
        font-size: 30px;
        overflow: hidden;
        font-weight: 800;
        opacity: 0;
        color: white;

        
    }
